pianaedu-web-service-client/src/main/resources/wsdl/AAAService.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://dto.soap.edu.piana.ir" name="AAAWebService" targetNamespace="http://dto.soap.edu.piana.ir">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://dto.soap.edu.piana.ir" elementFormDefault="unqualified" targetNamespace="http://dto.soap.edu.piana.ir" version="1.0">
            <xs:element name="JAXBDocument" type="tns:loginResult"/>
            <xs:element name="login" type="tns:login"/>
            <xs:element name="loginRequestDto" type="tns:LoginRequestDto"/>
            <xs:element name="loginResponse" type="tns:loginResponse"/>
            <xs:element name="logout" type="tns:logout"/>
            <xs:element name="logoutResponse" type="tns:logoutResponse"/>
            <xs:element name="userInfo" type="tns:UserInfo"/>
            <xs:complexType name="login">
                <xs:sequence>
                    <xs:element minOccurs="0" name="loginRequestDto" type="tns:LoginRequestDto"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="LoginRequestDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="channel" type="tns:channel"/>
                    <xs:element name="domainId" type="xs:int"/>
                    <xs:element name="getToken" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="ipAddress" type="xs:string"/>
                    <xs:element minOccurs="0" name="password" type="xs:string"/>
                    <xs:element minOccurs="0" name="userName" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="loginResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:loginResult"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="loginResult">
                <xs:sequence>
                    <xs:element name="resultCode" type="xs:int"/>
                    <xs:element minOccurs="0" name="userInfo" type="tns:UserInfo"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UserInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="firstName" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastLogin" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastName" type="xs:string"/>
                    <xs:element name="nationalCode" type="xs:long"/>
                    <xs:element name="serviceCode" type="xs:int"/>
                    <xs:element minOccurs="0" name="token" type="xs:string"/>
                    <xs:element name="userId" type="xs:long"/>
                    <xs:element minOccurs="0" name="userName" type="xs:string"/>
                    <xs:element minOccurs="0" name="userProperties" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="logout">
                <xs:sequence>
                    <xs:element minOccurs="0" name="token" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="logoutResponse">
                <xs:sequence/>
            </xs:complexType>
            <xs:simpleType name="channel">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="WEB"/>
                    <xs:enumeration value="MOBILE"/>
                    <xs:enumeration value="APPCLIENT"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="logout">
        <wsdl:part element="ns1:logout" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="loginResponse">
        <wsdl:part element="ns1:loginResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="logoutResponse">
        <wsdl:part element="ns1:logoutResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="login">
        <wsdl:part element="ns1:login" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="AAAWebService">
        <wsdl:operation name="login">
            <wsdl:input message="ns1:login" name="login"> </wsdl:input>
            <wsdl:output message="ns1:loginResponse" name="loginResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="logout">
            <wsdl:input message="ns1:logout" name="logout"> </wsdl:input>
            <wsdl:output message="ns1:logoutResponse" name="logoutResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>